<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <link href="#" th:href="@{/static/css/main.css}" rel="stylesheet"/>
    </head>
    <body>
        <!--Login-->
        <form name="login" th:action="@{/login}" method="post">
            <div class="input_field">
                <label for="email" th:text="#{email}">Емайл</label>
                <input name="email" id="email" type="email" th:placeholder="#{email}"/>
            </div>
            <div class="input_field">
                <label for="password" th:text="#{password}">Парола</label>
                <input name="password" id="password" type="password" th:placeholder="#{password}"/>
            </div>
            <div th:if="${error ne null}" th:text="#{incorrect.login}" class="input_field"></div>
            <div class="input_field">
                <input type="submit" th:value="#{login}" value="Вход"/>
            </div>
        </form>
<!--Test-->
        <!--Registration-->
        <form name="registration" th:action="@{/registration}" th:object="${person}" method="post">
            <div class="input_field">
                <label for="email_registration" th:text="#{email}"></label>
                <input id="email_registration" th:field="*{email}" type="email"/>
                <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="input_field">
                <label for="password_registration" th:text="#{password}"></label>
                <input id="password_registration" th:field="*{password}" type="password"/>
                <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="input_field">
                <label for="raw_password" th:text="#{confirm.password}"></label>
                <input id="raw_password" th:field="*{rawPassword}" type="password"/>
            </div>
            <div class="input_field">
                <label for="first_name" th:text="#{first.name}"></label>
                <input id="first_name" th:field="*{firstName}" type="text"/>
                <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="input_field">
                <label for="last_name" th:text="#{last.name}"></label>
                <input id="last_name" th:field="*{lastName}" type="text"/>
                <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div class="input_field" th:each="e : ${#fields.detailedErrors()}">
                <span class="error" th:if="${e.global}" th:text="${e.message}"></span>
            </div>
            <div class="input_field">
                <input type="submit" th:value="#{registration}"/>
            </div>
        </form>
    </body>
</html>